
# 執行 cell：
   * Shfit + Enter 執行該 cell 且跳下一個 cell 
   * Ctrl + Enter 執行該 cell (但停在該 cell)

In [1]:
1+5

6

In [2]:
9*6

54

# 函式說明：
  * ?FunctionName()
  * help(FunctionName)

In [3]:
?print()

In [4]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# 如何註解：
   *  單行  -> #
   *  多行  -> """  """

In [5]:
# 計算 1+1
1+1

2

In [6]:
"""
計算
45646+565 *(556-622)
"""
45646+565 *(556-622)

8356

# 顯示設定：多重執行輸出

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
15 +633
2654 -63
52*65

648

2591

3380

# 整數 int

In [9]:
A = 3
type(A) # type() 資料型態查詢

B = 2
C = A + B
C

type(C)

int

5

int

# 浮點數 float

In [10]:
A = 3
type(A)

B = 2.12345      

C = A + B
C
type(C)

int

5.12345

float

# 字串 str

In [11]:
Name = "冠宇"
type(Name)    

ID = '01'

## 字串串聯 (相加)
NameID = Name + ID
NameID

str

'冠宇01'

# print() 使用

In [12]:
print("Hello World!")
print(Hello) ## what's worng??   Ans:因為裡面沒有引號框起來，他就不是字串型態

Hello World!

NameError: name 'Hello' is not defined

In [13]:
# How to print :  1+1 ?
print(1+1) 
print("1+1")

2
1+1

In [14]:
x = 10
y = 20
print("x = ", x, " y = ", y)  ## 用 , 隔開變數
print("x = " + str(x) + " y = " + str(y))   ## 用 str()強制轉換成字串

x =  10  y =  20
x = 10 y = 20

In [15]:
student = "曉芳"
score = 59
print('student = %s , 分數 = %d ' % (student, score))
print('student = %s , 分數 = %f ' % (student, score))
print('student = %s , 分數 = %10.3f ' % (student, score))

student = 曉芳 , 分數 = 59
student = 曉芳 , 分數 = 59.000000
student = 曉芳 , 分數 =     59.000

In [16]:
print('student = {0} , 分數 = {1} '.format(student, score))
print('student = {0} , 分數 = {2} '.format(student, score, 61))
print('student = {} , 分數 = {} '.format(student, score, 123))

student = 曉芳 , 分數 = 59
student = 曉芳 , 分數 = 61
student = 曉芳 , 分數 = 59

# 容器型態( container )
* 列表 list
* 元組 tuple
* 字典 dict
* 集合 set

In [17]:
## List
## 宣告方式
list1 = []
list1 = list()
type(list1)

list1 = [23, 65, 6, 12, 3 ,63, 475, 163, 20] 
list1

list

[23, 65, 6, 12, 3, 63, 475, 163, 20]

In [18]:
list1[0]      # indexing 索引指標
list1[2:6]
list1[:5]
list1[-1]

23

[6, 12, 3, 63]

[23, 65, 6, 12, 3]

20

In [19]:
len(list1)    # len()：計算 list 長度

9

In [20]:
list2 = [33, "Sean", "jeff"]

list1 + list2   # list 串聯

list2 * 3       # list 複製

[23, 65, 6, 12, 3, 63, 475, 163, 20, 33, 'Sean', 'jeff']

[33, 'Sean', 'jeff', 33, 'Sean', 'jeff', 33, 'Sean', 'jeff']

In [21]:
## 查看元素是否在list裡面
3 in list1
"John" in list2

True

False

In [22]:
## 排列
print("原始的list :       ", list1)
list1.sort()  ## 注意，原始的資料會被改變
print("排列後的list :     ", list1)

list1.sort(reverse=True)  ## 參數 reverse=True，表示大到小排列 
print("參數 reverse=True :",list1)

原始的list :        [23, 65, 6, 12, 3, 63, 475, 163, 20]
排列後的list :      [3, 6, 12, 20, 23, 63, 65, 163, 475]
參數 reverse=True : [475, 163, 65, 63, 23, 20, 12, 6, 3]

In [23]:
## tuple 元組

## tuple vs. list: 
#  1. tuple 生成後不可修改；list 生成後可以修改 (區別：記憶體能否動態配置)
#  2. tuple 的處理效能會優於 list，但 list 的彈性會優於 tuple

## 宣告方式
tup1 = ()
tup1 = tuple()
type(tup1)

tup1 = ('physics', 'chemistry', 1997, 2000)
tup1

tuple

('physics', 'chemistry', 1997, 2000)

In [24]:
list1[0] = 10
tup1[0]  = 10 ## tuple資料是不可修改的

TypeError: 'tuple' object does not support item assignment

### dict 字典  與    set 集合 沒有順序的問題

In [25]:
## dict 字典：{key : value}

## 宣告 dict
dict1 = {}
type(dict1)

dict1 = {'冠宇': 52, '曉芳': 68, '閔舜': 99}
dict1

dict

{'冠宇': 52, '曉芳': 68, '閔舜': 99}

In [26]:
dict1.keys()
dict1.values()

dict_keys(['冠宇', '閔舜', '曉芳'])

dict_values([52, 99, 68])

In [27]:
dict1['閔舜']

99

In [28]:
##  set 集合

# 宣告 set
set1 = set()
type(set1)

a = {1,3,5,6,9,36,26,223,5,5,6,7}  ##  也可以寫成  set([1,3,5,6,9,36,26,223,5,5,6,7]) 
b = set([4,2,5,6,9,36,36,77,63,221])
a
b

set

{1, 3, 5, 6, 7, 9, 26, 36, 223}

{2, 4, 5, 6, 9, 36, 63, 77, 221}

In [29]:
a & b   # 交集
a | b   # 聯集
a - b   # 差集

{5, 6, 9, 36}

{1, 2, 3, 4, 5, 6, 7, 9, 26, 36, 63, 77, 221, 223}

{1, 3, 7, 26, 223}

# 流程控制
# if-elif-else

In [30]:
A = 3
B = 2

if A == B:
    print('A = B')
else:
    print('A != B')

A != B

In [31]:
# 條件判斷 if-elif-else

score = 59
if 80 < score <= 100:
    print("太聰明了")
elif 60 < score <= 80:
    print("有進步的空間")
elif 40 < score <= 60:
    print("看來有很大進步的空間")  
elif score <= 40:
    print("可以打掉重練了")
else:
    print("神一般的等級")

看來有很大進步的空間

In [32]:
score = 60

print("期中考成績：%d"%score)
if  score  < 60:
    print("同學你的期中很危險")

期中考成績：60

# Range()

In [33]:
range(10)
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(1,10))
list(range(1,20,2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# for 迴圈

In [35]:
# 從 0印出來到 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
student_names = ["Jam", "Mary", "Bob", "Patrick", "John"]
for name in student_names:
    print("班上的學生有：",name)

班上的學生有： Jam
班上的學生有： Mary
班上的學生有： Bob
班上的學生有： Patrick
班上的學生有： John

In [37]:
for idx, name in enumerate(student_names):
    print("班上的學生有：",name,"  ，學號是",idx)

班上的學生有： Jam   ，學號是 0
班上的學生有： Mary   ，學號是 1
班上的學生有： Bob   ，學號是 2
班上的學生有： Patrick   ，學號是 3
班上的學生有： John   ，學號是 4

# while 迴圈

In [38]:
x = 0
while( x < 10):
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

# break 與 continue

In [39]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [40]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# 雙層迴圈

In [41]:
for i in range(7):
    for j in range(4):
        print("現在的 i = %d ， j = %d"%(i, j))
    print("***********************")

現在的 i = 0 ， j = 0
現在的 i = 0 ， j = 1
現在的 i = 0 ， j = 2
現在的 i = 0 ， j = 3
***********************
現在的 i = 1 ， j = 0
現在的 i = 1 ， j = 1
現在的 i = 1 ， j = 2
現在的 i = 1 ， j = 3
***********************
現在的 i = 2 ， j = 0
現在的 i = 2 ， j = 1
現在的 i = 2 ， j = 2
現在的 i = 2 ， j = 3
***********************
現在的 i = 3 ， j = 0
現在的 i = 3 ， j = 1
現在的 i = 3 ， j = 2
現在的 i = 3 ， j = 3
***********************
現在的 i = 4 ， j = 0
現在的 i = 4 ， j = 1
現在的 i = 4 ， j = 2
現在的 i = 4 ， j = 3
***********************
現在的 i = 5 ， j = 0
現在的 i = 5 ， j = 1
現在的 i = 5 ， j = 2
現在的 i = 5 ， j = 3
***********************
現在的 i = 6 ， j = 0
現在的 i = 6 ， j = 1
現在的 i = 6 ， j = 2
現在的 i = 6 ， j = 3
***********************

In [42]:
for i in range(1,10):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********